@import "tailwindcss";

:root {
  --background: #fcfcfd;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-jetbrains-mono), monospace;
  letter-spacing: -0.02em;
}
